* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper {
  height: 100vh;
  width: 100vw;
}
.home {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 3rem;
  background-image: linear-gradient(45deg, red, green, blue);
}
.container {
  width: 60%;
  box-shadow: 0 0 1rem beige;
  cursor: pointer;
  border-radius: 10px;
}
/* --------------box1------------- */

.box-1 {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #0c002b;
}

.box-1 button {
  font-size: 4rem;
  width: 20rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  padding: 20px 50px;
  box-shadow: 0 10px 10px rgb(78, 73, 73);
  position: relative;
  background: #0c002b;
  overflow: hidden;
  cursor: pointer;
}
.box-1 button:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  bottom: 2px;
  width: 50%;
  background: rgba(8, 7, 7, 0.1);
}
.box-1 span:nth-child(1) {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 2px;
  background: linear-gradient(to right, #0c002b, #2ff907);
  animation: anime1 2s linear infinite;
}
@keyframes anime1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
.box-1 span:nth-child(2) {
  position: absolute;
  width: 2px;
  top: 0;
  left: 0;
  height: 100%;
  background: linear-gradient(to bottom, #0c002b, #2ff907);
  animation: anime2 2s linear infinite;
}
@keyframes anime2 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}

.box-1 span:nth-child(3) {
  position: absolute;
  width: 100%;
  bottom: 0;
  right: 0;
  height: 2px;
  background: linear-gradient(to left, #0c002b, #2ff907);
  animation: anime3 2s linear infinite;
  animation-delay: 1.5s;
}
@keyframes anime3 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.box-1 span:nth-child(4) {
  position: absolute;
  width: 2px;
  bottom: 0;
  right: 0;
  height: 100%;
  background: linear-gradient(to bottom, #0c002b, #2af905);
  animation: anime4 2s linear infinite;
}
@keyframes anime4 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

/* ----------------box-2------------ */

.box-2 {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #031321;
}
.box-2 button {
  font-size: 4rem;
  width: 20rem;
  padding: 15px 30px;
  overflow: hidden;
  transition: 0.2s;
  cursor: pointer;
  color: #2196f3;
  background: #031321;
  position: relative;
}
.box-2 button:hover {
  background: #;
  color: #255784;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
  transition-delay: 1s;
}

.box-2 button span {
  position: absolute;
}
.box-2 button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 3px;
  background: linear-gradient(90deg, transparent, #2196f3);
}
.box-2 button:hover span:nth-child(1) {
  left: 100%;
  transition: 1s ease;
}

.box-2 button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 3px;
  background: linear-gradient(270deg, transparent, #2196f3);
}
.box-2 button:hover span:nth-child(3) {
  right: 100%;
  transition: 1s ease;
  transition-delay: 0.5s;
}

.box-2 button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #2196f3);
}
.box-2 button:hover span:nth-child(2) {
  top: 100%;
  transition: 1s ease;
  transition-delay: 0.25s;
}
.box-2 button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #2196f3);
}
.box-2 button:hover span:nth-child(4) {
  bottom: 100%;
  transition: 1s ease;
  transition-delay: 0.75s;
}
/* -------------------box-3---------------- */

.box-3 {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #2b332c;
}
.box-3 button {
  font-size: 4rem;
  width: 20rem;
  padding: 15px 30px;
  cursor: pointer;
  color: #03270a;
  border: 1px solid #6d7c6d;
  position: relative;
  overflow: hidden;
  background: #5c7f61;
  border: 2px solid black;
  transition: 0.3s ease;
}
.box-3 button::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  background: rgba(34, 162, 45, 0.5);
  left: 0;
  bottom: -110px;
  border-radius: 50%;
}

.box-3 button:hover {
  color: rgb(134, 19, 19);
  box-shadow: 0 0 20px rgb(152, 227, 114);
  border-radius: 50%;
  transition: 0.5s;
}
.box-3 button:hover::before {
  transition: 0.2s ease;
  bottom: 0;
}

/* ----------------------box4------------------- */
.box-4 {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #031321;
}
.box-4 button {
  font-size: 4rem;
  width: 15rem;
  height: 15rem;
  padding: 0.5rem 3rem;
  cursor: pointer;
  color: #03270a;
  border: 1px solid #6d7c6d;
  position: relative;
  background: #4f5650;
  border-radius: 50%;
  overflow: hidden;
}
.box-4 button::before {
  content: "";
  position: absolute;
  inset: -1rem 5rem;
  background: linear-gradient(45deg, rgb(15, 113, 225), rgb(235, 55, 238));
  transition: 0.4s;
  animation: animate1 4s linear infinite;
}
.box-4 button:hover::before {
  inset: -2rem 0;
}
@keyframes animate1 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.box-4 button::after {
  content: "";
  position: absolute;
  inset: 0.3rem;
  background: #031321;
  border-radius: 50%;
  z-index: 1;
}
.box-4 .content {
  position: relative;
  z-index: 222;
  background: linear-gradient(45deg, rgb(15, 113, 225), rgb(235, 55, 238));
  height: 5rem;
  box-shadow: 0 5px 20px rgb(97, 63, 23);
  border-radius: 1rem;
}
.box-4 .content a {
  font-size: 3rem;
  text-decoration: none;
}
.box-4 .content:hover {
  box-shadow: 0 5px 20px rgb(15, 15, 246), 0 5px 40px rgb(18, 18, 25);
}

/* ------------------box-5------------ */
.box-5 {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #b0aeb8;
}
.box-5 button {
  font-size: 2rem;
  padding: 2rem 5rem;
  border: 0.2rem solid black;
  box-shadow: 4px 4px 0 0 white, 8px 8px 0 0 rgb(30, 29, 29);
  border-radius: 20px;
  transition-duration: 0.2s;
}
.box-5 button:hover {
  box-shadow: 5px 5px 0 0 white, 10px 10px 0 0 black;
  transform: translate(-2px, -2px);
}
/* ---------------------box-6 ------------ */

.box-6 {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-6 a {
  text-decoration: none;
  border: 4px solid black;
  padding: 1rem 3rem;
  color: #111;
  font-weight: 600;
  font-size: 2rem;
  position: relative;
}
.box-6 a::before {
  content: "";
  position: absolute;
  top: 0.8rem;
  left: -0.4rem;
  height: calc(100% - 1.6rem);
  width: calc(100% + 0.8rem);
  background: #fff;
  transition: 0.5s ease-in-out;
  transform: scaleY(1);
  transition-delay: 0.4s;
}
.box-6 a:hover::before {
  transform: scaleY(0);
}
.box-6 a::after {
  content: "";
  position: absolute;
  height: calc(100% + 0.8rem);
  width: calc(100% - 1.6rem);
  background: #fff;
  top: -0.4rem;
  left: 0.8rem;
  transform: scaleX(1);
  transition: 0.5s ease-in-out;
}
.box-6 a:hover::after {
  transform: scaleX(0);
}
.box-6 a span {
  position: relative;
  z-index: 1;
}

/* --------------- box - 7 */
.box-7 {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background: #271f3b;
}
.box-7 a {
  position: relative;
  padding: 2.5rem 6rem;
  font-size: 2rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  background: #0c002b;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
  z-index: 1;
}

.box-7 a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    45deg,
    rgb(226, 14, 184),
    rgb(241, 24, 24),
    rgb(86, 217, 86),
    rgb(20, 20, 225),
    rgb(229, 13, 13),
    brown,
    rgb(245, 59, 248),
    green,
    blue,
    maroon
  );
  opacity: 0;
  background-size: 400%;
  transition: 0.4s;
  animation: animate 20s linear infinite;
}

.box-7 a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    45deg,
    rgb(226, 14, 184),
    red,
    green,
    blue,
    maroon,
    brown,
    rgb(245, 59, 248),
    green,
    blue,
    maroon
  );
  background-size: 400%;
  opacity: 0;
  filter: blur(20px);
  transition: 0.4s;
  animation: animate 20s linear infinite;
}

.box-7 a:hover::before,
.box-7 a:hover::after {
  opacity: 1;
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 250% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.box-7 a span {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  background: #0c002b;
  color: rgb(255, 255, 255, 0.5);
  transition: 0.5s ease;
  z-index: 1;
}
.box-7 a:hover span {
  color: rgb(255, 255, 255, 1);
}

.box-7 a span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: rgb(255, 255, 255, 0.2);
}

/* /------------------------button 8 -------------------- */

.box8 {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background: rgb(236, 232, 232);
}
.box8 a {
  text-decoration: none;
  font-size: 2.5rem;
  letter-spacing: 2.5px;
  padding: 1.5rem 3.5rem;
  position: relative;
  background: rgb(2, 2, 68);
  border: 2px solid rgb(2, 2, 68);
  color: #fff;
  overflow: hidden;
  z-index: 2;
}

.box8 a::before {
  content: "";
  background: #060ee2;
  top: 0;
  left: 5%;
  position: absolute;
  height: 100%;
  width: 90%;
  z-index: -1;
  transform: skewX(25deg);
  transition: 0.7s;
}
.box8 a:hover::before {
  z-index: 0;
  transform: skewX(90deg);
}
.box9 {
  height: 100vh;
  width: 100vw;
}
.box9 a {
  text-decoration: none;
  font-size: 4rem;
  letter-spacing: 0.5rem;
  box-shadow: 0 0 2px 2px grey;
  padding: 10px 20px;
  background: darkgray;
  color: white;
  position: relative;
  transition: 0.5s linear;
}
.box9 a::before {
  content: "";
  display: none;
  position: absolute;
  bottom: -15px;
  left: 0;
  height: 10px;
  width: 100%;
  background: rgb(218, 17, 17);
  transition: 0.5s linear;
}

.box9 a:hover,
.box9 a:hover::before {
  transform: scale(1.05);
  display: block;
  box-shadow: 0 0 2px 2px rgb(250, 64, 64);
}
