* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  height: 100vh;
  width: 100vw;
}
.home {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 3rem;
  background-image: linear-gradient(45deg, red, green, blue);
}
.container {
  width: 60%;
  box-shadow: 0 0 1rem beige;
  cursor: pointer;
  border-radius: 10px;
}
/* --------------box1------------- */

.box-1 {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #0c002b;
  /* background: rgb(39, 39, 86); */
}
.box-1 button {
  font-size: 4rem;
  width: 20rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #1670f0;
  padding: 20px 50px;
  box-shadow: 0 10px 10px rgb(78, 73, 73);
  position: relative;
}
.box-1 button:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  bottom: 2px;
  width: 50%;
  background: rgba(8, 7, 7, 0.1);
}
.box-1 span:nth-child(1) {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 2px;
  background: linear-gradient(to right, #0c002b, #1779ff);
  animation: anime1 1s linear infinite;
}
@keyframes anime1 {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(50%);
  }
}
.box-1 span:nth-child(2) {
  position: absolute;
  width: 5px;
  top: 0;
  left: 0;
  height: 100%;
  background: linear-gradient(to right, #0c002b, rgb(25, 99, 209));
}
.box-1 span:nth-child(3) {
  position: absolute;
  width: 100%;
  bottom: 0;
  right: 0;
  height: 3px;
  background: linear-gradient(to right, #0c002b, rgb(25, 99, 209));
}
.box-1 span:nth-child(4) {
  position: absolute;
  width: 2px;
  bottom: 0;
  right: 0;
  height: 100%;
  background: linear-gradient(to right, #0c002b, rgb(25, 99, 209));
}
